<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<!-- Original ConnectionString: name="connection" -->
		<add name="connection"  connectionString="Server=DESKTOP-PMVN625; Database=SemesterarbeitDBS; Trusted_Connection=true; Encrypt=false;" providerName="System.Data.SqlClient"/>

	</connectionStrings>
	<appSettings>
		<add key="PathZipCodes" value="C:\ZbwTechniker\4tSemester\DbAdvancedII\SemesterProjekt_WPF\Semesterprojekt_Datenbank_WPF\WPF_Ui\WPF_Ui\plz_verzeichnis_new (1).csv"/>
		
	</appSettings>
</configuration>